/* Keyword Styles */
html {
    background-color: rgb(192, 192, 192);
}
form {
    color: black;
    text-decoration: none;
    text-align: center;
    background-color: #A0A0A0;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    border: 4px dashed #7F0f0F;
    border-radius: 4px;
}
h2 {
    color: #FFFFFF;
    background-color: #000000;
    padding: 4px;
    border: 4px solid #7F0F0F;
    border-radius: 4px;
}
p {
    color: white;
    background-color: black;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    border: 4px solid #7F0f0F;
    border-radius: 4px;
}
strong, em {
    text-decoration: underline;
}
ol{
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
li{
    display: flex;
    flex-direction: column;
}

/* Pseudo-Class */
h1:hover, h2:hover, h3:hover {
    font-family: 'Anton', sans-serif;
}
button:active {
    color: black;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

/* Custom Class Styles */
.TopHeader {
    color: #FFFFFF;
    background-image: url(media/Logo.png);
    width: 100vmax;
    max-width: 1872px;
    height: 10vmax;
    max-height: 150px;
    padding: 4px;
    border: 4px solid #7F0f0F;
    border-radius: 4px;
}
.mission {
    color: #FFFFFF;
    background-color: black;
    margin: 4px;
    padding: 4px;
    border: 4px solid #7F0f0F;
    border-radius: 4px;
}
.teams {
    display: grid;
    grid-area: auto;
    color: #000000;
    background-color: white;
    margin: 4px;
    padding: 4px;
    border: 4px solid #7F0f0F;
    border-radius: 4px;
}
.teamtitle{
    display: grid;
    grid-column-start: auto;
    font-style: italic;
}
.features {
    display: block;
    color: white;
    background-color: black;

    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;

    border-style: solid;
    border-color: #7F0f0F;
    border-width: 4px;
    border-radius: 4px;
}
.example-images {
    background-color: white;
    width: 90vw;
    height: 52mm;
    display: flex;
    margin: 4px;
    padding: 4px;
    border: 4px solid black;
    border-radius: 4px;
}
.fit-picture {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    min-width: 3in;
    max-width: 4in;
    height: 20vh;
    min-height: 2in;
    max-height: 3in;
}
.MediaHeaders {
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    border-style: groove;
    border-color: black;
    border-width: 4px;
    border-radius: 4px;
}
.audio-demos {
    background-color: hsl(200 40% 40%);
    width: 60vw;
    height: 20vh;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 20px 4px;
    border: 4px solid black;
    border-radius: 4px;
}
.audio {
    position: relative;
    width: 50vw;
}
.video-demo {
    background-color: #7F0F0F;
    width: 60vw;
    margin: 4px 4px 4px 4px;
    padding: 4px 4px 0px 4px;
    border: 4px solid black;
    border-radius: 4px;
}
.video {
    width: 50vw;
}
.dropdown {
    position: relative;
    color: #FFFFFF;
    background-color: black;
    margin: 4px;
    padding: 4px;
    border: 4px solid #7F0f0F;
    border-radius: 4px;
}
.summary {
    position: static;
}
.BuyHeader {
    display: inline-block;
}
.rainbow:hover {
    font-family: 'Ephesis', cursive;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    color: black;
}
.Explode:hover{
    font-family: 'Akronim', cursive;
    font-size: 40px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    margin: 4px;
    padding: 40px;
    border: 4px solid black;
    border-radius: 4px;
    position: absolute;
}
.Explode:active{
    font-family: 'Akronim', cursive;
    font-size: 120px;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    margin: 4px;
    padding: 200px;
    border: 4px solid black;
    border-radius: 4px;
    position: absolute;
}
.scam:hover {
    margin: 0px 0px 0px 100px;
}

/* Other Selectors */
#ducks:hover {
    font-family: 'Anton', sans-serif;
    color: darkorange;
}
*:active {
    color: rgb(64, 0, 64);
}
a[href] {
    color: darkorange;
}

/* Combinator Selectors */
ul li {
    font-size: 16px;
}
header > h2 {
    font-size: 26px;
    font-family: 'Ephesis', cursive;
    color: lightgray;
}
label + input {
    color: red;
}
hr ~ button {
    font-style: italic;
    font-weight: bold;
}
form.form {
    background-color: slategray;
}

/* Media Query */
@media (width: 360px) {
    section {
      color: crimson;
    }
  }
  @media (min-width: 35rem) {
    section {
        border: 2px solid darkslategrey;
        border-width: 4px;
    }
  }
  @media (max-width: 50rem) {
    section {
      background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    }
  }